include *.md
include LICENSE
include requirements.txt
include rssdldmng/api/server.py
include rssdldmng/api/static/css/*.*
include rssdldmng/api/static/img/*.*
include rssdldmng/api/static/js/*.*
include rssdldmng/api/templates/*.*